---
import { Picture } from "astro:assets";
import myPhoto from "../../images/myphoto.jpg";

const { l10n } = Astro.props;
---

<section id="about-me">
  <div class="flex flex-col gap-10 font-light">
    <div class="flex-shrink-0 gap-2 flex flex-col items-center">
      <Picture
        src={myPhoto}
        alt={l10n.photo}
        formats={["webp"]}
        widths={[128, 256, 384]}
        loading="lazy"
        decoding="async"
        class="skeleton w-[12.5rem] h-[12.5rem] md:h-[25vh] md:w-[25vh] object-cover rounded-full"
      />
      <p class="text-4xl font-medium text-center">{l10n.name}</p>
      <p class="text-sm text-gray-500 text-center">({l10n.aka})</p>
    </div>
    <div class="flex flex-col md:flex-row gap-4 w-full max-w-screen">
      <div class="flex-1 flex flex-col items-center">
        <div class="flex flex-wrap items-center justify-center gap-2 sm:flex-row">
          <div class="bg-zinc-950 p-2 border-2 border-gray-800 rounded-md flex items-center">
            <a
              class="focus:text-fire-500 hover:text-fire-500 transition items-center flex flex-row gap-1"
              href="https://t.me/arlcrow0x7b"
            >
              <i class="text-fire-500 fa-brands fa-telegram"></i>
              {l10n.contacts.telegram}
            </a>
          </div>
          <div class="bg-zinc-950 p-2 border-2 border-gray-800 rounded-md flex items-center">
            <a
              class="focus:text-fire-500 hover:text-fire-500 transition items-center flex flex-row gap-1"
              href="mailto:matvey@arlcrow.site"
            >
              <i class="text-fire-500 fa-solid fa-envelope"></i>
              {l10n.contacts.email}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
