---
import Button from "../ui/Button.astro";

const { l10n } = Astro.props;
---

<section class="mt-6" id="education">
  <h2 class="text-3xl font-bold mb-4 flex items-center">
    <i class="text-accent-400 fa-solid fa-graduation-cap mr-2"></i>
    {l10n.education.title}
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 pt-2">
    <div class="flex flex-col items-center">
      <div
        class="bg-zinc-950 p-4 border-2 border-gray-800 rounded-lg mb-4 w-full h-full"
      >
        <h3 class="text-2xl font-semibold mb-2">
          <i class="fa-solid fa-school"></i>
          {l10n.education.school.title}
        </h3>
        <p class="text-sm font-normal text-gray-500 mb-4">
          {l10n.education.school.provider_date}
        </p>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <div
        class="bg-zinc-950 p-4 border-2 border-gray-800 rounded-lg mb-4 w-full h-full"
      >
        <h3 class="text-2xl font-semibold mb-2">
          <i class="fa-brands fa-telegram"></i>
          {l10n.education.telegram_bots_course.title}
        </h3>
        <p class="text-sm font-normal text-gray-500 mb-4">
          {l10n.education.telegram_bots_course.provider_date}
        </p>
        <div class="flex flex-grow items-end">
          <a href="https://stepik.org/a/153850">
            <Button>
              <i class="fa-solid fa-arrow-right mr-2"></i> stepik.org
            </Button>
          </a>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <div
        class="bg-zinc-950 p-4 border-2 border-gray-800 rounded-lg mb-4 w-full h-full flex-grow flex flex-col"
      >
        <h3 class="text-2xl font-semibold mb-2">
          <i class="fa-solid fa-code"></i>
          {l10n.education.devops_course.title}
        </h3>
        <p class="text-sm font-normal text-gray-500 mb-2">
          {l10n.education.devops_course.provider_date}
        </p>
        <div class="flex flex-wrap items-end">
          <a
            href="https://wiki.merionet.ru/merion-academy/courses/devops-inzhener-s-nulya/"
          >
            <Button>
              <i class="fa-solid fa-arrow-right mr-1"></i> wiki.merionet.ru
            </Button>
          </a>
          <a href="https://static.arlcrow.site/devops-cert.pdf">
            <Button>
              <i class="fa-solid fa-award-simple mr-1"></i>
              {l10n.certificate} (PDF)
            </Button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
