---
import Button from "../ui/Button.astro";

const { l10n } = Astro.props;
---

<section class="mt-6" id="portfolio">
  <h2 class="text-3xl font-bold mb-4 flex items-center">
    <i class="text-accent-400 fa-solid fa-file-chart-column mr-2"></i>
    {l10n.portfolio.title}
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="flex flex-col items-center pt-2">
      <div
        class="bg-zinc-950 p-4 border-2 border-gray-800 rounded-lg mb-4 w-full flex-grow flex flex-col"
      >
        <h3 class="text-2xl font-semibold flex items-center mb-2">
          <i class="fa-solid fa-key-skeleton mr-2"></i>
          {l10n.portfolio.zytro_vpn.title}
        </h3>
        <p class="text-sm font-normal text-gray-500 mb-4">
          {l10n.portfolio.zytro_vpn.date}
        </p>
        <p class="mb-4">{l10n.portfolio.zytro_vpn.description}</p>
        <h4 class="text-xl font-semibold flex items-center mb-2">
          <i class="fa-brands fa-telegram mr-2 text-accent-400"></i>
          {l10n.portfolio.zytro_vpn.telegram_bot.title}
        </h4>
        <ul class="fa-ul ml-6 space-y-2">
          <li>{l10n.portfolio.zytro_vpn.telegram_bot.description}</li>
        </ul>
        <hr class="border rounded-lg my-4 border-gray-800" />
        <h4 class="text-xl font-semibold flex items-center mb-2">
          <i class="fa-solid fa-server mr-2 text-accent-400"></i>
          {l10n.portfolio.zytro_vpn.vpn_servers.title}
        </h4>
        <ul class="fa-ul ml-6 space-y-2">
          <li>{l10n.portfolio.zytro_vpn.vpn_servers.description}</li>
        </ul>
        <div class="flex flex-wrap mt-auto">
          <a href="https://t.me/zytro_bot">
            <Button>
              <i class="fa-brands fa-telegram"></i>
              {l10n.portfolio.zytro_vpn.buttons.bot}
            </Button>
          </a>
          <a href="https://t.me/zytro_news">
            <Button>
              <i class="fa-brands fa-telegram"></i>
              {l10n.portfolio.zytro_vpn.buttons.project_channel}
            </Button>
          </a>
          <a href="https://gitlab.arlcrow.site/zytro">
            <Button>
              <i class="fa-brands fa-gitlab"></i>
              {l10n.portfolio.zytro_vpn.buttons.source_code}
            </Button>
          </a>
        </div>
      </div>
    </div>
    <div class="flex flex-col flex-wrap items-center pt-2">
      <div
        class="bg-zinc-950 p-4 border-2 border-gray-800 rounded-lg mb-4 w-full"
      >
        <h3 class="text-2xl font-semibold flex items-center mb-2">
          <i class="fa-solid fa-server mr-2"></i>
          {l10n.portfolio.self_hosting.title}
        </h3>
        <p class="text-sm font-normal text-gray-500 mb-4">
          {l10n.portfolio.self_hosting.date}
        </p>
        <p class="mb-4">{l10n.portfolio.self_hosting.description}</p>
        <ul class="fa-ul ml-6 space-y-2">
          <li>
            <span class="fa-li"
              ><i class="fa-solid fa-code text-accent-400"></i></span
            >
            {l10n.portfolio.self_hosting.p1}
          </li>
          <li>
            <span class="fa-li"
              ><i class="fa-solid fa-cubes text-accent-400"></i></span
            >
            {l10n.portfolio.self_hosting.p2}
          </li>
          <li>
            <span class="fa-li"
              ><i class="fa-solid fa-server text-accent-400"></i></span
            >
            {l10n.portfolio.self_hosting.p3}
          </li>
          <li>
            <span class="fa-li"
              ><i class="fa-solid fa-chart-line text-accent-400"></i></span
            >
            {l10n.portfolio.self_hosting.p4}
          </li>
          <li>
            <span class="fa-li"
              ><i class="fa-solid fa-code-branch text-accent-400"></i></span
            >
            {l10n.portfolio.self_hosting.p5}
          </li>
          <li>
            <span class="fa-li"
              ><i class="fa-solid fa-database text-accent-400"></i></span
            >
            {l10n.portfolio.self_hosting.p6}
          </li>
          <li>
            <span class="fa-li"
              ><i class="fa-solid fa-key text-accent-400"></i></span
            >
            {l10n.portfolio.self_hosting.p7}
          </li>
          <li>
            <span class="fa-li"
              ><i class="fa-solid fa-wifi text-accent-400"></i></span
            >
            {l10n.portfolio.self_hosting.p8}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
