---
const { l10n } = Astro.props;
---

<section class="mt-6" id="skills">
  <h2 class="text-3xl font-bold mb-4 flex items-center">
    <i class="text-accent-400 fa-solid fa-fill-drip mr-2"></i>
    {l10n.skills.title}
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div
      class="bg-zinc-950 flex flex-col p-4 border-2 border-gray-800 rounded-lg mb-4"
    >
      <h3 class="text-2xl font-semibold items-center mb-1">
        <i class="fa-solid fa-code mr-2"></i>
        {l10n.skills.devops.title}
      </h3>
      <p class="text-sm font-normal text-gray-500 mb-4">
        {l10n.skills.devops.experience}
      </p>
      <ul class="fa-ul ml-6 space-y-2">
        <li>
          <span class="fa-li"
            ><i class="fa-brands fa-linux text-accent-400"></i></span
          >
          <span class="font-medium">{l10n.skills.devops.items.linux}:</span>
          {l10n.skills.devops.items.linux_details}
        </li>
        <li>
          <span class="fa-li"
            ><i class="fa-solid fa-box-open text-accent-400"></i></span
          >
          <span class="font-medium"
            >{l10n.skills.devops.items.containerization_orchestration}:</span
          >
          {l10n.skills.devops.items.containerization_orchestration_details}
        </li>
        <li>
          <span class="fa-li"
            ><i class="fa-solid fa-chart-line text-accent-400"></i></span
          >
          <span class="font-medium">{l10n.skills.devops.items.monitoring}:</span
          >
          {l10n.skills.devops.items.monitoring_details}
        </li>
        <li>
          <span class="fa-li"
            ><i class="fa-solid fa-gear text-accent-400"></i></span
          >
          <span class="font-medium">{l10n.skills.devops.items.automation}:</span
          >
          {l10n.skills.devops.items.automation_details}
        </li>
        <li>
          <span class="fa-li"
            ><i class="fa-solid fa-globe text-accent-400"></i></span
          >
          <span class="font-medium"
            >{l10n.skills.devops.items.webservers_proxy}:</span
          >
          {l10n.skills.devops.items.webservers_proxy_details}
        </li>
        <li>
          <span class="fa-li"
            ><i class="fa-solid fa-database text-accent-400"></i></span
          >
          <span class="font-medium">{l10n.skills.devops.items.databases}:</span>
          {l10n.skills.devops.items.databases_details}
        </li>
        <li>
          <span class="fa-li"
            ><i class="fa-solid fa-code-branch text-accent-400"></i></span
          >
          <span class="font-medium">{l10n.skills.devops.items.vcs}:</span>
          {l10n.skills.devops.items.vcs_details}
        </li>
        <li>
          <span class="fa-li"
            ><i class="fa-solid fa-server text-accent-400"></i></span
          >
          <span class="font-medium"
            >{l10n.skills.devops.items.self_hosting}:</span
          >
          {l10n.skills.devops.items.self_hosting_details}
        </li>
      </ul>
    </div>
    <div
      class="bg-zinc-950 flex flex-col p-4 border-2 border-gray-800 rounded-lg mb-4"
    >
      <h3 class="text-2xl font-semibold flex items-center mb-2">
        <i class="fa-brands fa-python mr-2"></i>
        {l10n.skills.python.title}
      </h3>
      <p class="text-sm font-normal text-gray-500 mb-4">
        {l10n.skills.python.experience}
      </p>
      <ul class="fa-ul ml-6 space-y-2">
        <li>
          <span class="fa-li"
            ><i class="fa-solid fa-brackets-curly text-accent-500"></i></span
          >
          <span class="font-medium"
            >{l10n.skills.python.frameworks_libraries}:</span
          >
          {l10n.skills.python.frameworks_libraries_details}
        </li>
      </ul>
      <hr class="border rounded-lg my-4 border-gray-800" />
      <h4 class="text-xl font-semibold flex items-center mb-2">
        <i class="fa-brands fa-telegram mr-2"></i>
        {l10n.skills.python.telegram_bots.title}
      </h4>
      <ul class="fa-ul ml-6 space-y-2">
        <li>
          <span class="fa-li"
            ><i class="fa-solid fa-brackets-curly text-accent-500"></i></span
          >
          <span class="font-medium"
            >{l10n.skills.python.telegram_bots.framework}:</span
          >
          {l10n.skills.python.telegram_bots.framework_details}
        </li>
        <li>
          <span class="fa-li"
            ><i class="fa-solid fa-book-blank text-accent-500"></i></span
          >
          <span class="font-medium"
            >{l10n.skills.python.telegram_bots.libraries}:</span
          >
          {l10n.skills.python.telegram_bots.libraries_details}
        </li>
      </ul>
      <hr class="border rounded-lg my-4 border-gray-800" />
      <h4 class="text-xl font-semibold flex items-center mb-2">
        <i class="fa-solid fa-gear-code mr-2"></i>
        {l10n.skills.python.backend.title}
      </h4>
      <ul class="fa-ul ml-6 space-y-2">
        <li>
          <span class="fa-li"
            ><i class="fa-solid fa-book-blank text-accent-500"></i></span
          >
          <span class="font-medium"
            >{l10n.skills.python.backend.frameworks}:</span
          >
          {l10n.skills.python.backend.frameworks_details}
        </li>
      </ul>
    </div>
  </div>
</section>
