---
import Layout from '../../layouts/Layout.astro';
import { getLocaleJson } from "../../functions/translations.ts";

const birthDate = new Date('2008-11-23');
const today = new Date();
const age = today.getMonth() > birthDate.getMonth() || (today.getMonth() === birthDate.getMonth() && today.getDate() >= birthDate.getDate())
    ? today.getFullYear() - birthDate.getFullYear()
    : today.getFullYear() - birthDate.getFullYear() - 1;

const year = today.getFullYear();

let locale = Astro.currentLocale;
console.log(locale)
let l10n = await getLocaleJson(locale as string);
console.log(l10n)
---

<Layout title={l10n.name} lang={locale}>
    <div class="mx-auto max-w-screen-lg px-4 mt-6">
        <div class="flex flex-col items-center mb-6">
            <div class="flex-shrink-0 mb-4 flex flex-col items-center">
                <img class="h-[12.5rem] md:h-[25vh] object-contain opacity-80 rounded-full" src="https://gravatar.com/avatar/ee7a5ec1bc1c4bd15dcc63baeacc8677c97d050e97448e292c9c3d2dc493556d?size=512" alt={l10n.photo} />
                <p class="text-4xl font-black text-center mt-4">{l10n.name}</p>
            </div>
            <div class="flex flex-col md:flex-row gap-4 w-full max-w-screen">
                <div class="flex-1 flex flex-col items-center">
                    <h2 class="text-xl font-bold text-center md:text-left mb-2"><i class="fa-solid fa-user mr-1"></i> {l10n.personal_information.title}</h2>
                    <div class="flex flex-wrap items-center justify-center gap-2 sm:flex-row">
                        <div class="p-2 border-2 rounded-md flex items-center">
                            <i class="fa-solid fa-calendar-days mr-1"></i> {l10n.personal_information.birthday} ({age} {l10n.personal_information.years_old})
                        </div>
                        <div class="p-2 border-2 rounded-md flex items-center">
                            <i class="fa-solid fa-location-dot mr-1"></i> {l10n.personal_information.location}
                        </div>
                        <div class="p-2 border-2 rounded-md flex items-center">
                            <i class="fa-solid fa-language mr-1"></i>{l10n.personal_information.languages}
                        </div>
                    </div>
                </div>
                <div class="flex-1 flex flex-col items-center">
                    <h2 class="text-xl font-bold mb-2 text-center md:text-left"><i class="fa-solid fa-envelope mr-1"></i> {l10n.contacts.title}</h2>
                    <div class="flex flex-wrap items-center justify-center gap-2 sm:flex-row">
                        <div class="p-2 border-2 rounded-md flex items-center">
                            <a class="focus:text-sky-500 hover:text-sky-500 transition flex items-center" href="https://t.me/arlcrow123">
                                <i class="fa-brands fa-telegram mr-1"></i> {l10n.contacts.telegram}
                            </a>
                        </div>
                        <div class="p-2 border-2 rounded-md flex items-center">
                            <a class="focus:text-sky-500 hover:text-sky-500 transition flex items-center" href="mailto:matvey+website@arlcrow.site">
                                <i class="fa-solid fa-envelope mr-1"></i> {l10n.contacts.email}
                            </a>
                        </div>
                    </div>
                    <h2 class="text-xl font-bold mb-2 text-center md:text-left mt-2"><i class="fa-solid fa-circle-dollar mr-1"></i> {l10n.donate.title}</h2>
                    <div class="flex flex-wrap items-center justify-center gap-2 sm:flex-row">
                        <div class="p-2 border-2 rounded-md flex items-center">
                            <a class="focus:text-sky-500 hover:text-sky-500 transition flex items-center" href="https://t.me/send?start=IVqFOqa9ZmKB">
                                <i class="fa-brands fa-telegram mr-1"></i> {l10n.donate.crypto_bot}
                            </a>
                        </div>
                        <div class="p-2 border-2 rounded-md flex items-center">
                            <a class="focus:text-sky-500 hover:text-sky-500 transition flex items-center" href="https://www.tbank.ru/cf/7CcrsRDUA5">
                                <i class="fa-solid fa-credit-card-front mr-1"></i> {l10n.donate.t_bank}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="mt-6">
            <h2 class="text-3xl font-bold mb-4 flex items-center"><i class="text-lisiy-accent-400 fa-solid fa-fill-drip mr-2"></i> {l10n.skills.title}</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="flex flex-col p-4 border-2 rounded-lg mb-4">
                    <h3 class="text-2xl font-semibold items-center mb-1"><i class="fa-solid fa-code mr-2"></i> {l10n.skills.devops.title}</h3>
                    <p class="text-sm font-normal text-gray-500 mb-4">{l10n.skills.devops.experience}</p>
                    <ul class="fa-ul ml-6 space-y-2">
                        <li><span class="fa-li"><i class="fa-brands fa-linux text-lisiy-accent-400"></i></span> <span class="font-medium">{l10n.skills.devops.items.linux}:</span> {l10n.skills.devops.items.linux_details}</li>
                        <li><span class="fa-li"><i class="fa-solid fa-box-open text-lisiy-accent-400"></i></span> <span class="font-medium">{l10n.skills.devops.items.containerization_orchestration}:</span> {l10n.skills.devops.items.containerization_orchestration_details}</li>
                        <li><span class="fa-li"><i class="fa-solid fa-chart-line text-lisiy-accent-400"></i></span> <span class="font-medium">{l10n.skills.devops.items.monitoring}:</span> {l10n.skills.devops.items.monitoring_details}</li>
                        <li><span class="fa-li"><i class="fa-solid fa-gear text-lisiy-accent-400"></i></span> <span class="font-medium">{l10n.skills.devops.items.automation}:</span> {l10n.skills.devops.items.automation_details}</li>
                        <li><span class="fa-li"><i class="fa-solid fa-globe text-lisiy-accent-400"></i></span> <span class="font-medium">{l10n.skills.devops.items.webservers_proxy}:</span> {l10n.skills.devops.items.webservers_proxy_details}</li>
                        <li><span class="fa-li"><i class="fa-solid fa-database text-lisiy-accent-400"></i></span> <span class="font-medium">{l10n.skills.devops.items.databases}:</span> {l10n.skills.devops.items.databases_details}</li>
                        <li><span class="fa-li"><i class="fa-solid fa-code-branch text-lisiy-accent-400"></i></span> <span class="font-medium">{l10n.skills.devops.items.vcs}:</span> {l10n.skills.devops.items.vcs_details}</li>
                        <li><span class="fa-li"><i class="fa-solid fa-server text-lisiy-accent-400"></i></span> <span class="font-medium">{l10n.skills.devops.items.self_hosting}:</span> {l10n.skills.devops.items.self_hosting_details}</li>
                    </ul>
                </div>
                <div class="flex flex-col p-4 border-2 rounded-lg shadow-sm hover:shadow-md transition-shadow mb-4">
                    <h3 class="text-2xl font-semibold flex items-center mb-2"><i class="fa-brands fa-python mr-2"></i> {l10n.skills.python.title}</h3>
                    <p class="text-sm font-normal text-gray-500 mb-4">{l10n.skills.python.experience}</p>
                    <ul class="fa-ul ml-6 space-y-2">
                        <li><span class="fa-li"><i class="fa-solid fa-brackets-curly text-lisiy-accent-500"></i></span> <span class="font-medium">{l10n.skills.python.frameworks_libraries}:</span> {l10n.skills.python.frameworks_libraries_details}</li>
                    </ul>
                    <hr class="my-4 border-gray-300">
                    <h4 class="text-xl font-semibold flex items-center mb-2"><i class="fa-brands fa-telegram mr-2"></i> {l10n.skills.python.telegram_bots.title}</h4>
                    <ul class="fa-ul ml-6 space-y-2">
                        <li><span class="fa-li"><i class="fa-solid fa-brackets-curly text-lisiy-accent-500"></i></span> <span class="font-medium">{l10n.skills.python.telegram_bots.framework}:</span> {l10n.skills.python.telegram_bots.framework_details}</li>
                        <li><span class="fa-li"><i class="fa-solid fa-book-blank text-lisiy-accent-500"></i></span> <span class="font-medium">{l10n.skills.python.telegram_bots.libraries}:</span> {l10n.skills.python.telegram_bots.libraries_details}</li>
                    </ul>
                    <hr class="my-4 border-gray-300">
                    <h4 class="text-xl font-semibold flex items-center mb-2"><i class="fa-solid fa-gear-code mr-2"></i> {l10n.skills.python.backend.title}</h4>
                    <ul class="fa-ul ml-6 space-y-2">
                        <li><span class="fa-li"><i class="fa-solid fa-book-blank text-lisiy-accent-500"></i></span> <span class="font-medium">{l10n.skills.python.backend.frameworks}:</span> {l10n.skills.python.backend.frameworks_details}</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="mt-6">
            <h2 class="text-3xl font-bold mb-4 flex items-center">
                <i class="text-lisiy-accent-400 fa-solid fa-briefcase mr-2"></i>
                {l10n.experience.title}
            </h2>
            <div class="grid grid-cols-1 gap-4 md:grid-cols-[repeat(auto-fit,minmax(0,1fr))]">
                <div class="flex flex-col p-4 border-2 rounded-lg mb-4">
                    <h3 class="text-2xl font-semibold items-center mb-1"><i class="fa-solid fa-tag"></i> {l10n.experience.mts.title}</h3>
                    <p class="text-sm font-normal text-gray-500 mb-4">{l10n.experience.mts.date}</p>
                    <ul class="fa-ul ml-6 space-y-2">
                        <li>
                    <span class="fa-li">
                        <i class="fa-solid fa-circle-dollar-to-slot text-lisiy-accent-500"></i>
                    </span>
                            <span class="font-medium">{l10n.experience.job_title}:</span>
                            {l10n.experience.mts.job_title}
                        </li>
                        <li>
                    <span class="fa-li">
                        <i class="fa-solid fa-user-graduate text-lisiy-accent-500"></i>
                    </span>
                            <span class="font-medium">{l10n.experience.grade}:</span>
                            {l10n.experience.mts.grade}
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="mt-6">
            <h2 class="text-3xl font-bold mb-4 flex items-center"><i class="text-lisiy-accent-400 fa-solid fa-file-chart-column mr-2"></i> {l10n.portfolio.title}</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="flex flex-col items-center pt-2">
                    <div class="p-4 border-2 rounded-lg mb-4 w-full flex-grow flex flex-col">
                        <h3 class="text-2xl font-semibold flex items-center mb-2"><i class="fa-solid fa-key-skeleton mr-2"></i> {l10n.portfolio.zytro_vpn.title}</h3>
                        <p class="text-sm font-normal text-gray-500 mb-4">{l10n.portfolio.zytro_vpn.date}</p>
                        <p class="mb-4">{l10n.portfolio.zytro_vpn.description}</p>
                        <h4 class="text-xl font-semibold flex items-center mb-2"><i class="fa-brands fa-telegram mr-2 text-lisiy-accent-400"></i> {l10n.portfolio.zytro_vpn.telegram_bot.title}</h4>
                        <ul class="fa-ul ml-6 space-y-2">
                            <li>{l10n.portfolio.zytro_vpn.telegram_bot.description}</li>
                        </ul>
                        <hr class="my-4 border-gray-300">
                        <h4 class="text-xl font-semibold flex items-center mb-2"><i class="fa-solid fa-server mr-2 text-lisiy-accent-400"></i> {l10n.portfolio.zytro_vpn.vpn_servers.title}</h4>
                        <ul class="fa-ul ml-6 space-y-2">
                            <li>{l10n.portfolio.zytro_vpn.vpn_servers.description}</li>
                        </ul>
                        <div class="flex flex-wrap mt-auto">
                            <div class="bg-white text-black font-medium rounded-md p-2 size-fit mr-2 mt-2">
                                <a class="focus:text-sky-800 hover:text-sky-800 transition" href="https://t.me/zytro_bot"><i class="fa-brands fa-telegram"></i> {l10n.portfolio.zytro_vpn.buttons.bot}</a>
                            </div>
                            <div class="bg-white text-black font-medium rounded-md p-2 size-fit mr-2 mt-2">
                                <a class="focus:text-sky-800 hover:text-sky-800 transition" href="https://t.me/zytro_news"><i class="fa-brands fa-telegram"></i> {l10n.portfolio.zytro_vpn.buttons.project_channel}</a>
                            </div>
                            <div class="bg-white text-black font-medium rounded-md p-2 size-fit mr-2 mt-2">
                                <a class="focus:text-sky-800 hover:text-sky-800 transition" href="https://gitlab.arlcrow.site/zytro"><i class="fa-brands fa-gitlab"></i> {l10n.portfolio.zytro_vpn.buttons.source_code}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-wrap items-center pt-2">
                    <div class="p-4 border-2 rounded-lg shadow-sm hover:shadow-md transition-shadow mb-4 w-full">
                        <h3 class="text-2xl font-semibold flex items-center mb-2"><i class="fa-solid fa-server mr-2"></i> {l10n.portfolio.self_hosting.title}</h3>
                        <p class="text-sm font-normal text-gray-500 mb-4">{l10n.portfolio.self_hosting.date}</p>
                        <p class="mb-4">{l10n.portfolio.self_hosting.description}</p>
                        <ul class="fa-ul ml-6 space-y-2">
                            <li><span class="fa-li"><i class="fa-solid fa-code text-lisiy-accent-400"></i></span> {l10n.portfolio.self_hosting.p1}</li>
                            <li><span class="fa-li"><i class="fa-solid fa-cubes text-lisiy-accent-400"></i></span> {l10n.portfolio.self_hosting.p2}</li>
                            <li><span class="fa-li"><i class="fa-solid fa-server text-lisiy-accent-400"></i></span> {l10n.portfolio.self_hosting.p3}</li>
                            <li><span class="fa-li"><i class="fa-solid fa-chart-line text-lisiy-accent-400"></i></span> {l10n.portfolio.self_hosting.p4}</li>
                            <li><span class="fa-li"><i class="fa-solid fa-code-branch text-lisiy-accent-400"></i></span> {l10n.portfolio.self_hosting.p5}</li>
                            <li><span class="fa-li"><i class="fa-solid fa-database text-lisiy-accent-400"></i></span> {l10n.portfolio.self_hosting.p6}</li>
                            <li><span class="fa-li"><i class="fa-solid fa-key text-lisiy-accent-400"></i></span> {l10n.portfolio.self_hosting.p7}</li>
                            <li><span class="fa-li"><i class="fa-solid fa-wifi text-lisiy-accent-400"></i></span> {l10n.portfolio.self_hosting.p8}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-6">
            <h2 class="text-3xl font-bold mb-4 flex items-center"><i class="text-lisiy-accent-400 fa-solid fa-graduation-cap mr-2"></i> {l10n.education.title}</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 pt-2">
                <div class="flex flex-col items-center">
                    <div class="p-4 border-2 rounded-lg mb-4 w-full h-full">
                        <h3 class="text-2xl font-semibold mb-2"><i class="fa-solid fa-school"></i> {l10n.education.school.title}</h3>
                        <p class="text-sm font-normal text-gray-500 mb-4">{l10n.education.school.provider_date}</p>
                    </div>
                </div>
                <div class="flex flex-col items-center">
                    <div class="p-4 border-2 rounded-lg mb-4 w-full h-full">
                        <h3 class="text-2xl font-semibold mb-2"><i class="fa-brands fa-telegram"></i> {l10n.education.telegram_bots_course.title}</h3>
                        <p class="text-sm font-normal text-gray-500 mb-4">{l10n.education.telegram_bots_course.provider_date}</p>
                        <div class="bg-white text-black font-medium rounded-md p-2 size-fit">
                            <a class="focus:text-sky-800 hover:text-sky-800 transition flex items-center" href="https://stepik.org/a/153850">
                                <i class="fa-solid fa-arrow-right mr-2"></i> stepik.org
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col items-center">
                    <div class="p-4 border-2 rounded-lg mb-4 w-full h-full flex-grow flex flex-col">
                        <h3 class="text-2xl font-semibold mb-2"><i class="fa-solid fa-code"></i> {l10n.education.devops_course.title}</h3>
                        <p class="text-sm font-normal text-gray-500 mb-2">{l10n.education.devops_course.provider_date}</p>
                        <div class="flex flex-wrap mt-auto">
                            <div class="bg-white text-black font-medium rounded-md p-2 size-fit mr-2 mt-2">
                                <a class="focus:text-sky-800 hover:text-sky-800 transition mr-2" href="https://wiki.merionet.ru/merion-academy/courses/devops-inzhener-s-nulya/"><i class="fa-solid fa-arrow-right mr-1"></i> wiki.merionet.ru</a>
                            </div>
                            <div class="bg-white text-black font-medium rounded-md p-2 size-fit mr-2 mt-2">
                                <a class="focus:text-sky-800 hover:text-sky-800 transition mr-2" href="https://static.arlcrow.site/devops-cert.pdf"><i class="fa-solid fa-award-simple mr-1"></i> {l10n.certificate} (PDF)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-6">
            <h2 class="text-3xl font-bold mb-4 flex items-center"><i class="text-lisiy-accent-400 fa-solid fa-star mr-2"></i> {l10n.achievements.title}</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="flex flex-col">
                    <div class="p-3 border-2 border-gray-500 rounded-lg mb-4">
                        <h3 class="text-2xl font-semibold"><i class="fa-solid fa-trophy text-lisiy-accent-500"></i> {l10n.achievements.profile_achievements.title}</h3>
                    </div>
                    <div class="p-4 border-2 rounded-lg mb-4 w-full flex flex-col h-full">
                        <h3 class="text-xl font-semibold mb-2">
                            <i class="fa-solid fa-user-graduate"></i> {l10n.achievements.profile_achievements.description}
                        </h3>
                        <p class="text-sm font-normal text-gray-500 mb-2">{l10n.achievements.profile_achievements.year}</p>
                        <ul class="fa-ul ml-6 space-y-2">
                            <li><span class="fa-li"><i class="fa-solid fa-trophy text-lisiy-accent-400"></i></span> {l10n.achievements.profile_achievements.place}</li>
                            <li><span class="fa-li"><i class="fa-solid fa-project-diagram text-lisiy-accent-400"></i></span> {l10n.achievements.profile_achievements.project}</li>
                        </ul>
                        <div class="flex flex-grow items-end mt-4">
                            <div class="bg-white text-black font-medium rounded-md p-2 size-fit mr-2">
                                <a class="focus:text-sky-800 hover:text-sky-800 transition" href="https://static.arlcrow.site/II.pdf">
                                    <i class="fa-solid fa-award-simple mr-1"></i> {l10n.diploma} (PDF)
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="p-3 border-2 border-gray-500 rounded-lg mb-4">
                        <h3 class="text-2xl font-semibold"><i class="fa-solid fa-medal text-lisiy-accent-500"></i> {l10n.achievements.sports_achievements.title}</h3>
                    </div>
                    <div class="flex flex-col p-4 border-2 rounded-lg shadow-sm hover:shadow-md transition-shadow mb-4">
                        <ul class="fa-ul ml-6 space-y-2">
                            <li><span class="fa-li"><i class="fa-solid fa-trophy text-lisiy-accent-500"></i></span> {l10n.achievements.sports_achievements.p1}</li>
                            <li><span class="fa-li"><i class="fa-solid fa-globe text-lisiy-accent-500"></i></span> {l10n.achievements.sports_achievements.p2}</li>
                            <li><span class="fa-li"><i class="fa-solid fa-user-friends text-lisiy-accent-500"></i></span> {l10n.achievements.sports_achievements.p3}</li>
                            <li><span class="fa-li"><i class="fa-solid fa-medal text-lisiy-accent-500"></i></span> {l10n.achievements.sports_achievements.p4}</li>
                            <li><span class="fa-li"><i class="fa-solid fa-people-group text-lisiy-accent-500"></i></span> {l10n.achievements.sports_achievements.p5}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-6">
            <div class="text-gray-500 pt-2 pb-2 flex flex-wrap items-center">
                <div class="text-gray-500 pt-2 pb-2 flex flex-wrap items-center">
                    <div class="mr-1 mt-1"><i class="fa-solid fa-copyright"></i> {year} Matvey Aleksandrov &lt;matvey@arlcrow.site&gt;.</div>
                    <div class="mr-1 mt-1">{l10n.footer.license} <a class="text-sky-600 focus:hover:text-sky-300 hover:text-sky-300 transition" href="https://gitlab.arlcrow.site/arlcrow123/lisiywebsite/-/blob/master/license">MIT</a>.</div>
                    <div class="mt-1">{l10n.footer.source_code}: <a class="text-sky-600 focus:hover:text-sky-300 hover:text-sky-300 transition" href="https://gitlab.arlcrow.site/arlcrow123/lisiywebsite"><i class="fa-brands fa-gitlab"></i> GitLab</a></div>
                </div>
            </div>
        </section>
    </div>
</Layout>
